* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    background-color: rgb(160, 105, 4);
    margin: 0px;
    padding: 10px;
}

.enlace {
    font-weight: bold;
    margin: 0 15px 0 15px;
    color: white;
}

.enlaces {
    background-color: rgb(247, 9, 9);
    padding: 20px;
}

.result {
    background-color: rgb(180, 118, 3);
    padding: 15px;
}